site_name: Dwarf Clash Wiki
nav:
  - Home: index.md
  - 'Гайд по Markdown':
    - 'Блоки предупреждений': 'markdown_guide/admonitions.md'
    - 'Сворачивающиеся блоки': 'markdown_guide/details.md'
    - 'Вкладки': 'markdown_guide/tabs.md'
    - 'Форматирование текста': 'markdown_guide/text_formatting.md'
    - 'Диаграммы': 'markdown_guide/diagrams.md'
theme:
  name: material
  features:
    - navigation.tracking
  palette: 
    # Палитра для светлой темы
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Переключить на темную тему
    # Палитра для темной темы
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Переключить на светлую тему
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.smartsymbols
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.magiclink